<ng-container *ngIf="profile">
  <div class="profile-card">
    <div class="avatar-name">
      <img [src]="profile.avatarUrl | imgUrl" [alt]="profile.username" class="profile-card__avatar">
      <div class="profile-card__name">
        <strong class="h6">{{profile.firstName}} {{profile.lastName}}</strong>
        <span class="subtitile">{{profile.username}}</span>
      </div>
    </div>

    <div class="profile-card__description">
      {{profile.description}}
    </div>

    <div class="profile-card__tags">
        <div *ngFor="let skill of profile.stack" class="skill-tag">{{skill}}</div>
    </div>

    <div class="profile-card__action-btns">
      <button class="btn">Подписаться</button>
    </div>
  </div>
</ng-container>
