<div class="profile-card">
  <div class="avatar-name">
    <img src="assets/imgs/rayn.jpeg" alt="avatar" class="profile-card__avatar">
    <div class="profile-card__name">
      <strong class="h6">Райан Гослинг</strong>
      <span class="subtitile">@ryanGosuslugi</span>
    </div>
  </div>

  <div class="profile-card__description">
    Для рунета Гослинг не умер в конце «Драйва»
    Порой кажется, что мемов с меланхоличным Гослингом в России больше,
    чем во всем остальном интернете. Актеру посвящены сообщества с десятками тысяч подписчиков
    — к примеру, «Huaem как Гослинг», «Райан Гослинг на каждый день», G O S L Y A.
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">Memes</div>
  </div>

  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
