<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <h1 class="h1">Вход</h1>
  <label class="tt-control-label">
    Telegram user name
    <input required
      [formControl]= "loginForm.controls.username"
      class="tt-input" type="text" placeholder="Введите логин">
  </label>

  <label class="tt-control-label">
    Password
    <div class="password-input">
      <input required
             [formControl]= "loginForm.controls.password"
             class="tt-input"
             [type]="isPasswordVisible ? 'text' : 'password'"
             placeholder="Введите пароль">
      <button class="password-eye-btn"
              (click)="togglePasswordVisibility()"
              [class.active]="isPasswordVisible">
        <img class="show-pass" src="assets/svg/show-password.svg" alt="Показать пароль">
      </button>
    </div>
  </label>

  <button class="btn" type="submit">Войти</button>
</form>

<img class="main-logo" src="assets/svg/logo-big.svg" alt="logo">

