@import "fonts";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
  --gray-color: #5F646D
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark-color);
  color: var(--light-color);
  font-family: "JetBrains Mono", sans-serif;
  background-image: url("/assets/imgs/background.png");
  background-repeat: no-repeat;
}

.skill-tag {
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  align-content: center;
}

.btn {
  width: 100%;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid var(--dark-color);
  cursor: pointer;
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitile {
  font-size: 14px;
  line-height: 21px;
}

.tt-control-label {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 16px;
}

.tt-input {
  width: 100%;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  outline: none;
  color: var(--light-color);
  font-family: "JetBrains Mono", sans-serif;
  margin-top: 8px;
}
